  <header>
  	<div class="logo-row">
  		<div class="row">
  			<a href="{{ _site_url }}"><img src="{{ theme:img src='logo.svg' }}" class="logo"></a>
   		</div>
  	</div>
  	<div class="row">
  		<div class="small-12 columns">
    		<h1>{{ member:profile username="{author}" }}{{ first_name }} {{ last_name }}{{ /member:profile }}</h1>
    	</div>
    </div>
  </header>
  
 {{ member:profile username="{author}" }}
 <div class="row">
 	<div class="small-2 columns">
 		<img src="{{ author_bio }}" alt="{{ first_name }} {{ last_name }}">
 	</div>
 	<div class="small-10 columns">
 		<p>{{ biography }}</p>
 		<p>Links: {{ member_links }}</p>
 	</div>
 </div>
 {{ /member:profile }}
 <div class="row">
 	<div class="small-12 columns">
 		<h2>Images</h2>
 	</div>
 </div>
  
 {{ entries:listing folder="photos" conditions="author:{author}" limit="12" paginate="true" }}
  {{ if count == 1 or count == 5 or count == 9 }}
  	<div class="row grid-row">
  {{ endif }}
  	<div class="small-4 medium-3 columns img-contain {{ if last }}end{{ endif }}">
  		<a href="{{ url }}?tags={{ tags }}{{ name }}{{ if ! last }}|{{ endif }}{{ /tags }}">
  			<img src="{{ transform src="{{ upload }}" width="220" height="220" action="smart" }}" alt="{{ title }}" />
  		</a>					
  	</div>
  {{ if count == 4 or count == 8 or last }}
  	</div>
  {{ endif }}
  {{ /entries:listing }}
  
  <footer>
  {{ entries:pagination folder="photos" limit="12" }}
  <ul class="pagination">
      {{ loop times="{ total_pages }" }}
          {{ if index == current_page }}
              {{ index }}
          {{ else }}
              <li {{ if index == current_page }}class="current"{{ endif }}><a href="{{ url }}?page={{ index }}">{{ index }}</a></li>
          {{ endif }}
      {{ /loop }}
  </ul>
  {{ /entries:pagination }}
  </footer>