<div class="view">
	<div class="random">
		{{ entries:listing folder='photos' conditions='tags:horizontal' limit='1' sort='random' }}
			{{ assets:upload }}
				<img src="{{ glide:url width="1400" }}" alt="{{ title }}">
			{{ /assets:upload }}
		{{ /entries:listing }}
	</div>
	<header>
		<div class="marquee-text-gradient"></div>
		<div class="logo-row">
			<div class="row">
				<a href="{{ site_url }}"><img src="{{ theme:img src='logo.svg' }}" class="logo"></a>
			</div>
		</div>
		
	</header>
		
	<div class="row">
		<div class="medium-4 columns small-centered home-search">
			<h3 class="text-center">hello friend. can I help you find a photo?</h3>
			<form action="/results" method="get" class="search-form">
				<input name="query" class="home-search-form-input" type="text" value="{{ get: query|sanitize }}" placeholder="keyword">
			</form>
		</div>
	</div>
</div>		

<div id="in"><canvas class="sonic" height="70" width="120"></canvas></div>
<div class="home-cats">
<!-- start categories -->
{{ taxonomy:categories show="all" }}
	
 		{{ if count == 1 or count == 5 or count == 9 }}
 			<div class="row">
 		{{ endif }}
 			
 			<div class="medium-3 columns text-center {{ if last }}end{{ endif }}">
 			<div class="img-contain">
 				<a href="{{ url }}">
 					{{ collection:photos taxonomy:categories="{ title }" limit="1" }}
 						{{ assets:upload }}
 							<img src="{{ glide:url width="220" height="180" fit="crop" }}" alt="{{ title }}">
 						{{ /assets:upload }}
 					{{ /collection:photos }}
 				</a>
 				<a href="{{ url }}" class="cat-text">{{ title }}</a>					
 			</div>
 			</div>
 			
 		{{ if count == 4 or count == 8 }}
 			</div>
 		{{ endif }}
 
 {{ /taxonomy:categories }}
 </div>