<header>
	<div class="title-header" style="background: linear-gradient(rgba(153, 55, 55, 0.80), rgba(153, 55, 55, 0.80)), url({{ main_image }}); background-size: cover; background-position: 50% 50%;">
		<div class="row">
			<div class="small-12 columns text-center title">
  				<h1>{{ title|widont }}</h1>
  			</div>
  		</div>
  	</div>
</header>

<div class="row content">
	<div class="small-12 columns">
		<h3 class="right"><a href="/blog"><i class="fa fa-arrow-circle-left"></i> All Articles</a></h3>
	</div>
	<div class="small-12 columns">
		{{ content|smartypants|widont }}
	</div>
</div>

<!-- social -->
<div class="row">
	<div class="small-12 columns soc-wrap text-center">
	
		<span class="social">
		  <a href="https://twitter.com/home?status={{permalink}}" target="_blank">
		  	<img src="{{theme:img src='social/tw2x.png'}}">
		  </a>
		</span>

		<span class="social">
          <a href="https://plus.google.com/share?url={{permalink}}" target="_blank">
          	<img src="{{theme:img src='social/gp2x.png'}}" alt="Share on Google+"/>
          </a>
		</span>
		
		<span class="social">
			<a href="https://www.facebook.com/sharer/sharer.php?u={{permalink}}" target="_blank">
				<img src="{{theme:img src='social/fb2x.png'}}">
			</a>
		</span>
		
	</div>
</div>

{{ if show_comments }}
<div class="panel single">
	<div class="row comments">
		<div class="small-12 columns">
  			<h2>Comments</h2>
  			{{ disqus:comments account="{ disqus_account }" }}
		</div>
	</div>
</div>
{{ endif }}