<!-- OFF CANVAS SECTIONS WRAPPING THE MAIN CONTENT -->
<div class="off-canvas-wrap" data-offcanvas>
	<div class="inner-wrap">
  
      		<!-- OFF CANVAS MENU BAR -->
      		<nav class="tab-bar" data-topbar>
          		<section class="left-small">
              		<a class="js-open-nav menu-icon" ><span></span></a>
          		</section>
          		<section class="right nav-text">
          				<a href="/about">About</a>
          				<a href="/blog">Blog</a>
          				<a href="/contact">Contact</a>
          				<a href="#" class="js-open-search search-menu-btn"><i class="fa fa-fw fa-search"></i></a>
          		</section>   
      		</nav>