.sticky-offset {
  top: 112px !important;
}
.sticky-lg-top {
  z-index: 1019 !important;
}
.headerSearch.opened {
  margin-top: 0;
}
.headerSearch {
  padding: 38px 0;
  background-color: #ffffff;
  margin-top: -112px;
  -webkit-transition: margin-top .5s;
  -o-transition: margin-top .5s;
  transition: margin-top .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: -1;
}
.headerSearch-close {
  position: absolute;
  right: 16px;
}
body.categories .view {
  display: none;
}
#in .sonic {
	display: block;
	margin: 40px auto;
}
.roContent {
  opacity: 0;
  transition: opacity 0.2s linear;
  position: absolute;
  text-align: center;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  background: rgba(25,25,25,0.8);
}
.roContent.active {
  opacity: 1;
}
/* unfortunately masonry needs hard pxs for images */
.row-cols-lg-4 .col { width: 300px; }
/* animations for the transition/reordering */
.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
	-webkit-transition-duration: 0.7s;
	-moz-transition-duration: 0.7s;
	-ms-transition-duration: 0.7s;
	-o-transition-duration: 0.7s;
	transition-duration: 0.7s;
}
.transitions-enabled.masonry {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}
.transitions-enabled.masonry  .masonry-brick {
	-webkit-transition-property: left, right, top;
	-moz-transition-property: left, right, top;
	-ms-transition-property: left, right, top;
	-o-transition-property: left, right, top;
	transition-property: left, right, top;
}
.header-sm {
  min-height: 20vh;
}
.header-lg {
  min-height: 30vh;
}
.header-hm {
  min-height: 100vh;
}
.content img {
  max-width: 100%;
  height: auto;
}
.text-meta {
  text-transform: uppercase;
  font-size: smaller;
}
a.skip:focus {
  opacity: 1;
  transform: translateY(0%);
}
a.skip {
  height: 30px;
  left: 50%;
  opacity: 0;
  position: absolute;
  transform: translateY(-120%);
  transition: transform 0.3s;
}
.offcanvas-body a:link h4 {
  padding: .5em;
  background-image: linear-gradient(#b84c4c,#b84c4c);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: .4s;
}
.offcanvas-body a:hover h4 {
  background-size: 100% 100%;
}
.navbar .megamenu{ 
  padding: 2rem;
  border-radius: 0;
  border: none;
  margin-top: 0 !important;
  animation: fadeIn .5s;
  -webkit-animation: fadeIn .5s;
  -moz-animation: fadeIn .5s;
  -o-animation: fadeIn .5s;
  -ms-animation: fadeIn .5s;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: transparent !important;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@media all and (min-width: 992px) {

  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }

}	
@media(max-width: 991px){
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
    overflow-y: auto;
      max-height: 90vh;
      margin-top:10px;
  }
}
.dropdown-item {
  color: rgba(0, 0, 0, 0.55) !important;
}
.dropdown-item.active, .dropdown-item:active {
  color: rgba(0, 0, 0, 0.9) !important;
}
.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}
.zindex-1 {
  z-index: 1;
}
.zindex-under {
  z-index: -1;
}
.btn, a.nav-link {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #fff;
}
.gradient-mask {
 background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
 color: white;
}
/* dark header support */
.bg-trans {
  transition: 600ms background;
}
.mt-n7 {
  margin-top: -5.4rem !important;
}
section.recommend .card {
  filter: grayscale(1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  transition: all .25s ease-in-out;
}
section.recommend .card:hover {
  filter: grayscale(0);
  box-shadow: none !important;
}
span.paper-clip:after {
height: 20px;
content: " ";
display: block;
position: absolute;
right: 2px;
top: 5px;
border-radius: 10px;
border: 2px solid #8c959c;
border-bottom: 0;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}
span.paper-clip {
height: 40px;
width: 15px;
border-radius: 10px;
border: 2px solid #8c959c;
display: inline-block;
rotate: -10deg;
box-shadow: 2px 2px 2px #00000069;
position: absolute;
right: 230px;
top: 40px;
}
.tape::before, .tape::after {
  content: '';
  display: block;
  position: absolute;
  background-color: rgba(220,212,176,0.65);
  height: 25px;
}
.tape:before {
  left: -11px;
  top: 16px;
  width: 45px;
  -webkit-transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  -o-transform: rotate(-12deg);
  -ms-transform: rotate(-12deg);
}
.tape:after {
  left: 760px;
  top: 16px;
  width: 70px;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
}
/* ==========================================================================
Animation System by Neale Van Fleet from Rogue Amoeba
========================================================================== */
.animate {
  animation-duration: 0.75s;
  animation-delay: 0.5s;
  animation-name: animate-fade;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  animation-fill-mode: backwards;
}

/* Fade In */
.animate.fade-in {
  animation-name: animate-fade;
  animation-timing-function: ease;
}

@keyframes animate-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Animation Delays */
.delay-1 {
  animation-delay: 0.6s;
}
.delay-2 {
  animation-delay: 0.7s;
}
.delay-3 {
  animation-delay: 0.8s;
}
.delay-4 {
  animation-delay: 0.9s;
}

@media screen and (prefers-reduced-motion: reduce) {
  .animate {
    animation: none !important;
  }
}
.callout {
  padding: 20px;
  margin: 14px 0 30px 0;
  border: 1px solid #eee;
  border-left-width: 6px;
  border-radius: 3px;
  background-color: #fff;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  code {
    border-radius: 3px;
  }
  & + .bs-callout {
    margin-top: -5px;
  }
}
@each $name,$color in (default,#0d6efd),(primary,#0d6efd),(success,#5cb85c),(danger,#d9534f),(warning,#f0ad4e),(info,#5bc0de), (bdc,#29527a) {
  .callout-#{$name} {
    border-left-color: $color;
    h4 {
      color: $color;
    }
  }
}
/* animations - works with intersectional observer */
.js-observe {
  opacity: 0;
}
.in-view {
  animation: animate-in-view .6s ease-out forwards;
}

@keyframes animate-in-view {
  0% {
      transform: translate(0, 20px) scale(1.1);
      opacity: 0;
  }
  35% {
      transform: translate(0, 20px) scale(1.1);
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 32px;
  color: #0d6efd;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
::selection {
  background: #c8deff;
}
::-moz-selection {
  background: #c8deff;
}
.tweet-me {
  padding: 2px 35px 2px 10px;
  border-radius: 3px;
  background-image: url(../../images/twitter.svg);
  background-position: 89% 50%;
  background-size: 18px;
  background-repeat: no-repeat;
  -webkit-transition: opacity 200ms ease, -webkit-transform 200ms cubic-bezier(.68, -.55, .265, 1.55);
  transition: opacity 200ms ease, -webkit-transform 200ms cubic-bezier(.68, -.55, .265, 1.55);
  transition: transform 200ms cubic-bezier(.68, -.55, .265, 1.55), opacity 200ms ease;
  transition: transform 200ms cubic-bezier(.68, -.55, .265, 1.55), opacity 200ms ease, -webkit-transform 200ms cubic-bezier(.68, -.55, .265, 1.55);
}