@mixin font($name, $filename, $weight, $style) {
    font-family: $name;
    src: url('../../fonts/#{$filename}.woff2') format('woff2'),
        url('../../fonts/#{$filename}.eot') format('embedded-opentype');
    font-weight: $weight;
    font-style: $style;
    font-display: swap; 
  } 
  
  @font-face { @include font('Poppins', 'Poppins-Regular', 400, normal); } 
  @font-face { @include font('Poppins', 'Poppins-Medium', 500, normal); } 
  @font-face { @include font('Poppins', 'Poppins-Bold', 700, normal); } 
  @font-face { @include font('Rubik', 'Rubik-Regular', 400, normal); }
  @font-face { @include font('Material Icons', 'MaterialIconsOutlined-Regular', 400, normal); }
