<div id="container-one" class="transitions-enabled large-centered clearfix">
	<div class="box col4"><a href="single.html"><img src="assets/test1-sm.jpg" /></a></div>
	<div class="box col4"><img src="assets/test2-sm.jpg" /></div>
	<div class="box col4"><img src="assets/test3-sm.jpg" /></div>
	<div class="box col4"><img src="http://www.placehold.it/400x315" /></div>
	<div class="box col4"><img src="http://www.placehold.it/300x250" /></div>
	<div class="box col4"><img src="http://www.placehold.it/300x330" /></div>
	<div class="box col4"><img src="http://www.placehold.it/400x350" /></div>
	<div class="box col4"><img src="http://www.placehold.it/500x430" /></div>
	<div class="box col4"><img src="http://www.placehold.it/400x430" /></div>
	<div class="box col4"><img src="http://www.placehold.it/500x470" /></div>
	<div class="box col4"><img src="http://www.placehold.it/400x340" /></div>
	<div class="box col4"><img src="http://www.placehold.it/300x210" /></div>
	<div class="box col4"><img src="http://www.placehold.it/400x300" /></div>
	<div class="box col4"><img src="http://www.placehold.it/500x430" /></div>
</div><!--/container-one -->