<div id="container-two" class="transitions-enabled large-centered clearfix">

	<div class="row">
		<div class="small-12 small-centered columns">
			<a href="single.html">
				<img data-interchange="[assets/test1-md.jpg, (small)], [assets/test1-lg.jpg, (medium)]" />
				<noscript><img src="assets/test1-lg.jpg"></noscript>
				<!--<img src="assets/test1-lg.jpg" />-->
			</a>
		</div>
	</div>
	
	<div class="row meta">
		<div class="medium-6 columns author">
			<a href="/authors"><img src="assets/jason-auth.jpg" /></a>
			<div class="meta-text">
				by <a href="/authors">Jason McKinney</a> | <a href="/details" class="cta">Details</a>
			</div>
		</div>
		<div class="medium-6 columns tags">
			<span>
				<a href="#">Napa</a><a href="#">landscape</a><a href="#">clouds</a>
			</span>
		</div>
	</div>
	
</div><!--/container-two -->