
    <div class="row text-center row-cols-sm-4 gx-1">
      <div class="col">
			
				{# Facebook #}
				<a href="http://www.facebook.com/sharer.php?u={{ entry.url }}&t={{ entry.title }}" onclick="ga('send', 'social', 'facebook', 'share', '{{ entry.url }}');" class="ico facebook" target="_blank">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="53.7px" height="53.7px" viewBox="0 0 53.7 53.7" style="enable-background:new 0 0 53.7 53.7;" xml:space="preserve">
						<style type="text/css">
							.fb-st0{fill:#AFAFAF;}
							.fb-st1{fill:#395196;}
							.fb-st2{fill:#FFFFFF;}
						</style>
						<defs></defs>
						<g>
							<g>
								<path id="XMLID_6_" class="fb-st0" d="M53.7,26.9C53.7,12,41.7,0,26.9,0C12,0,0,12,0,26.9c0,14.8,12,26.9,26.9,26.9
												C41.7,53.7,53.7,41.7,53.7,26.9z"/>
							</g>
							<g>
								<path id="XMLID_4_" class="fb-st1" d="M53.7,26.9C53.7,12,41.7,0,26.9,0C12,0,0,12,0,26.9c0,14.8,12,26.9,26.9,26.9
												C41.7,53.7,53.7,41.7,53.7,26.9z"/>
									<path id="XMLID_3_" class="fb-st2" d="M29.2,20.5V18c0-1.2,0.8-1.5,1.4-1.5c0.6,0,3.6,0,3.6,0V11l-4.9,0c-5.5,0-6.7,4.1-6.7,6.7v2.9
												h-3.2v6.4h3.2c0,7.2,0,15.9,0,15.9H29c0,0,0-8.8,0-15.9h4.7l0.6-6.4H29.2z"/>
							</g>
						</g>
					</svg>
				</a>

			</div>
			<div class="col">

				{# Twitter #}
				<a href="http://twitter.com/share?url={{ entry.url }}&text={{ entry.title }}: " target="_blank" class="ico twitter" onclick="ga('send', 'social', 'twitter', 'share', '{{ entry.url }}');">
					
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="53.7px" height="53.7px" viewBox="0 0 53.7 53.7" style="enable-background:new 0 0 53.7 53.7;" xml:space="preserve">
						<style type="text/css">
							.twitter-st0{fill:#AFAFAF;}
							.twitter-st1{fill:#00A9FF;}
							.twitter-st2{fill:#FFFFFF;}
						</style>
						<defs></defs>
						<g>
							<g>
								<path id="XMLID_6_" class="twitter-st0" d="M53.7,26.9C53.7,12,41.7,0,26.9,0C12,0,0,12,0,26.9c0,14.8,12,26.9,26.9,26.9
												C41.7,53.7,53.7,41.7,53.7,26.9z"/>
							</g>
							<g>
								<path id="XMLID_2_" class="twitter-st1" d="M53.7,26.9C53.7,12,41.7,0,26.9,0C12,0,0,12,0,26.9c0,14.8,12,26.9,26.9,26.9
												C41.7,53.7,53.7,41.7,53.7,26.9z"/>
									<path id="XMLID_1_" class="twitter-st2" d="M42.4,18.8c-1.1,0.4-2.2,0.7-3.4,0.9c1.3-0.7,2.3-1.9,2.8-3.3c0-0.1-0.1-0.2-0.1-0.1
												c-1.2,0.7-2.5,1.2-3.9,1.4c-1.2-1.2-2.9-2-4.8-2c-3.6,0-6.5,2.9-6.5,6.4c0,0.5,0.1,1,0.2,1.5c-5.4-0.3-10.2-2.8-13.4-6.7
												c0,0,0,0-0.1,0c-0.5,0.9-0.9,2-0.9,3.2c0,2.2,1.1,4.1,2.8,5.3c0,0,0,0.1,0,0.1c-1-0.1-1.9-0.3-2.8-0.8c0,0-0.1,0,0,0
												c0,0.3,0.1,1.5,0.4,2.4c0.8,2,2.6,3.5,4.8,4c-0.5,0.1-1.1,0.2-1.7,0.2c-0.4,0-0.8,0-1.2-0.1c0,0-0.1,0,0,0c0.8,2.5,3.2,4.3,6,4.4
												c0,0,0.1,0,0,0.1c-2.2,1.7-5,2.7-8,2.7c-0.5,0-1,0-1.6-0.1c2.9,1.8,6.3,2.9,10,2.9c5.1,0,9.2-1.8,12.2-4.4c3.1-2.7,5.1-6.3,5.9-10
												c0.3-1.3,0.4-2.6,0.4-3.9c0-0.3,0-0.6,0-0.8c1.2-0.8,2.2-1.9,3.1-3C42.6,18.9,42.5,18.8,42.4,18.8z"/>
							</g>
						</g>
					</svg>
				</a>

			</div>
			<div class="col">

				{# Linked In #}
				<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ entry.url }}&title={{ entry.title }}&summary={{ entry.title }}&source=si-bone.com" target="_blank" class="ico linkedin" onclick="ga('send', 'social', 'LinkedIn', 'share', '{{ entry.url }}');">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="53.7px" height="53.7px" viewBox="0 0 53.7 53.7" style="enable-background:new 0 0 53.7 53.7;" xml:space="preserve">
						<style type="text/css">
							.li-st0{fill:#AFAFAF;}
							.li-st1{fill:#3D83D9;}
							.li-st2{fill:#FFFFFF;}
						</style>
						<defs></defs>
						<g>
							<g>
								<path id="XMLID_3_" class="li-st0" d="M53.7,26.9C53.7,12,41.7,0,26.9,0C12,0,0,12,0,26.9c0,14.8,12,26.9,26.9,26.9
												C41.7,53.7,53.7,41.7,53.7,26.9z"/>
							</g>
							<g>
								<path id="XMLID_1_" class="li-st1" d="M53.7,26.9C53.7,12,41.7,0,26.9,0C12,0,0,12,0,26.9c0,14.8,12,26.9,26.9,26.9
												C41.7,53.7,53.7,41.7,53.7,26.9z"/>
									<g>
										<rect x="14.1" y="20.3" class="li-st2" width="6.2" height="17.8"/>
										<path class="li-st2" d="M17.2,11.4c-1.9,0-3.5,1.8-3,3.8c0.3,1.2,1.2,2.1,2.4,2.3c2,0.4,3.8-1.1,3.8-3
													C20.3,12.8,18.9,11.4,17.2,11.4z"/>
									<path class="li-st2" d="M40.7,25.8c-0.4-3.3-2.1-5.5-6.6-5.5c-3.2,0-4.5,0.5-5.2,1.9l0,0v-1.9h-5v17.8H29v-9.3
													c0-2.3,0.4-4.1,3.3-4.1c2.8,0,3.1,2.2,3.1,4.2v9.2h5.3C40.7,38.1,40.8,26.5,40.7,25.8z"/>
									</g>
							</g>
						</g>
					</svg>
				</a>

			</div>
			<div class="col">

				{# Email #}
				<a href="mailto:?subject={{ entry.title }}&body=Hey, here's something I thought you might like: {{ entry.title }} - {{ entry.url }}" class="ico email">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="53.7px" height="53.7px" viewBox="0 0 53.7 53.7" style="enable-background:new 0 0 53.7 53.7;" xml:space="preserve">
						<style type="text/css">
							.email-st0{fill:#E6E6E6;}
							.email-st1{fill:#808080;}
						</style>
						<defs></defs>
						<g>
							<path id="XMLID_1_" class="email-st0" d="M53.7,26.9C53.7,12,41.7,0,26.9,0C12,0,0,12,0,26.9c0,14.8,12,26.9,26.9,26.9
										C41.7,53.7,53.7,41.7,53.7,26.9z"/>
							<g transform="translate(0,-952.36218)">
								<path class="email-st1" d="M15.5,970.5l11.6,9.4l11.6-9.4H15.5z M13.9,971.8v16.1h26.3v-16.1l-12.6,10.1c-0.4,0.3-0.9,0.3-1.2,0
												L13.9,971.8z"/>
							</g>
						</g>
					</svg>
				</a>
			
			</div>

		</div>
