{% extends "_layout" %}
{% block bodyClass %}home-page{% endblock %}
{% import '_macros.html' as m %}
{% block content %}

{% set blocks = entry.hero.all() %}
{% if blocks|length %}
  <section class="position-relative header-hm zindex-1 overflow-hidden mb-5">
  {% for block in blocks %}

    {% set randos = craft.entries.section('photos') %}
    {% for rando in randos.order('RAND()') %}
      {% if rando.photo | length %}
        {% set image = rando.photo.one ?? null %}
        {% if image is not null %}
          <picture class="position-absolute w-100 h-100 zindex-under">
            <!-- mobile -->
            {% if craft.app.images.supportsWebP %}
              <source media="(orientation: portrait) and (max-width: 551px)" srcset="{{ image.getUrl('backgroundMobileWebp') }}" type="image/webp">
            {% endif %}
            <source media="(orientation: portrait) and (max-width: 551px)" srcset="{{ image.getUrl('backgroundMobileJpg') }}" type="image/jpeg">
            <!-- desktop -->
            {% if craft.app.images.supportsWebP %}
              <source srcset="{{ image.getUrl('backgroundDesktopWebp') }}" type="image/webp">
            {% endif %}
            <img class="object-cover" width="100%" height="100%" src="{{ image.getUrl('backgroundDesktopJpg') }}" alt="">
          </picture>
        {% endif %}
      {% endif %}
    {% endfor %}

    <div class="text-white d-flex align-items-center header-hm gradient-mask">
      <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-3 g-5 justify-content-center">
          <div class="col">
            <h1 class="text-center">{{ block.customHeaderText }}</h1>
            <p class="text-center">{{ block.subtitleText }}</p>
            <form class="headerSearch" id="headerSearch" action="{{ url('search/results') }}" style="background-color: transparent; margin-top: auto; padding-top: 1em;">
              <input id="searchField" type="search" name="q" class="form-control mx-2" placeholder="Enter Keyword">
              <button type="submit" class="btn btn-primary" value="Search"> Search </button>
            </form>
          </div>
        </div>
      </div>
    </div>

  {% endfor %}
  </section>
{% endif %}

<section class="pt-2 mb-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-3 g-5 justify-content-center">
      {% set myCategoryQuery = craft.categories().group('photos').orderBy('lft ASC') %}
      {% set categories = myCategoryQuery.all() %}
      {% for category in categories %}
        <div class="col">
          <a href="{{ category.url }}" class="card text-decoration-none h-100 shadow-lg">
            {% set image = category.photoCategoryImage[0] ?? null %}
            {% if image and image.extension != 'svg' %}
              {% set outputWidths = [388, 366] %}
              {% set aspectRatio = (5/3) %}
              <picture>
                {% if craft.app.images.supportsWebP %}
                  <source srcset="{{ m.cardWebp(image, outputWidths, aspectRatio) }}" type="image/webp">
                {% endif %}
                <img width="100%" src="{{ m.cardJpg(image) }}" alt="{{ image.title }}" class="card-img-top" loading="lazy" sizes="100vw">
              </picture>
            {% elseif image and image.extension == 'svg' %}
                {{ svg(image)|attr({style: 'width: 100%'}) }}
            {% elseif image and image.extension == 'png' %}
                <img src="{{ image.getUrl() }}" alt="{{ image.title }}" loading="lazy">
            {% endif %}

            <div class="card-body p-4 p-lg-5">
              <h3 class="text-gray-medium text-center">{{ category.title }}</h3>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% include "_contentBlocks" %}

{% endblock %}