{% import '_macros' as m %}	
{% extends "_layout" %}
{% block bodyClass %}photos-single{% endblock %}
{% block content %}

<section class="mb-4 mt-5">
  <div class="container">
    <div class="row align-items-stretch gx-lg-5">
      <div class="col-lg-3">
        <div class="sticky-lg-top sticky-offset">
          <p class="h6 text-secondary text-uppercase">
            {% set category = entry.photoCategory.one() %}
            {{ category.title }}
          </p>
          <p class="h3 my-3">{{ entry.title }}</p>
          {% if entry.articleDate %}<p>{{ entry.articleDate|date }}</p>{% endif %}

          <div class="my-3">
            <p>Location: {{ entry.photoLocation }}</p>
            <p>Size: {{ entry.photoSize }}</p>
            {% set tags = entry.photoTags.all() %}
            {% for tag in tags %}
              <a href="{{ url('photos/tags/'~tag.slug) }}" class="btn btn-secondary btn-sm m-1">{{ tag.title }}</a>
            {% endfor %}
          </div>
          <div class="d-grid gap-2">
            <a href="{% set image = entry.photo.one() ?? null %}{% if image %}{{ image.getUrl() }}{% endif %}" class="btn btn-primary" download>Download</a>
          </div>
          <a href="/photos/{{ category.slug }}" class="d-block my-4 link text-decoration-none">&#8249; Back</a>
        </div>
      </div>
      
      <div class="col-lg-9 content">
        {% set image = entry.photo.one() %}
        {% if image|length %}
          {% if image.extension == 'svg' %}
            {{ svg(image, sanitize=false, namespace=false)|attr({style: 'width: 100%'})|prepend('<title>' ~ image.title ~ '</title>', 'replace') }}
          {% else %}
            <picture class="animate delay-1 fade-in">
              {% set webpTransform = { format: 'webp', mode: 'fit', quality: 80 } %}
              {% set jpgTransform = { format: 'jpg', mode: 'fit', quality: 80 } %}
              <source type="image/webp" srcset="{{ image.getSrcSet([812, 1650, 1740], webpTransform) }}">
              <source type="image/jpeg" srcset="{{ image.getSrcSet([812, 1650, 1740], jpgTransform) }}">
              <img class="w-100 h-auto" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.title }}">
            </picture>
          {% endif %}
        {% else %}
          <img src="/assets/images/placeholder-full-width-inline.jpg" class="w-100 h-auto" width="1740" height="auto" alt="placeholder">
        {% endif %}
        <div class="my-4">
          {{ entry.photoDescription }}
        </div>

        <!-- author-->
        <div class="p-4 mt-5 position-relative d-sm-none d-md-block">
          <div class="row tape bg-warning shadow-sm p-4">
            {% for author in entry.photographer.all() %}
              <div class="col-sm-12 col-md-8">
                <p class="lead">{{ author.title }}</h3>
                <p>{{ author.staffBio }}</h3>
              </div>
              <div class="col-sm-12 col-md-4">
                <span class="paper-clip"></span>
                {% set image = author.staffPhoto.one() ?? null %}
                {% if image %}
                  {% set authorThumb = { mode: 'crop', width: 320, height: 320, quality: 80, position: 'center-center' } %}
                  <img src="{{ image.getUrl(authorThumb) }}" alt="{{ image.title }}" class="border border-5 border-white shadow-sm rounded">
                {% else %}
                  <img src="/assets/images/profile.png" alt="Profile Image">
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "_recommend" %}

{% endblock %}