{% import '_macros' as m %}	
{% extends "_layout" %}
{% block bodyClass %}categories bg-secondary{% endblock %}
{% block content %}
{% css %}
h1 {
    clip-path: polygon(3% 0, 7% 1%, 11% 0%, 16% 2%, 20% 0, 23% 2%, 28% 2%, 32% 1%, 35% 1%, 39% 3%, 41% 1%, 45% 0%, 47% 2%, 50% 2%, 53% 0, 58% 2%, 60% 2%, 63% 1%, 65% 0%, 67% 2%, 69% 2%, 73% 1%, 76% 1%, 79% 0, 82% 1%, 85% 0, 87% 1%, 89% 0, 92% 1%, 96% 0, 98% 3%, 99% 3%, 99% 6%, 100% 11%, 98% 15%, 100% 21%, 99% 28%, 100% 32%, 99% 35%, 99% 40%, 100% 43%, 99% 48%, 100% 53%, 100% 57%, 99% 60%, 100% 64%, 100% 68%, 99% 72%, 100% 75%, 100% 79%, 99% 83%, 100% 86%, 100% 90%, 99% 94%, 99% 98%, 95% 99%, 92% 99%, 89% 100%, 86% 99%, 83% 100%, 77% 99%, 72% 100%, 66% 98%, 62% 100%, 59% 99%, 54% 99%, 49% 100%, 46% 98%, 43% 100%, 40% 98%, 38% 100%, 35% 99%, 31% 100%, 28% 99%, 25% 99%, 22% 100%, 19% 99%, 16% 100%, 13% 99%, 10% 99%, 7% 100%, 4% 99%, 2% 97%, 1% 97%, 0% 94%, 1% 89%, 0% 84%, 1% 81%, 0 76%, 0 71%, 1% 66%, 0% 64%, 0% 61%, 0% 59%, 1% 54%, 0% 49%, 1% 45%, 0% 40%, 1% 37%, 0% 34%, 1% 29%, 0% 23%, 2% 20%, 1% 17%, 1% 13%, 0 10%, 1% 6%, 1% 3%); 
}
{% endcss %}
{% set requestedSlug = craft.app.request.segments|last %}


{% set tag = craft.tags.slug( craft.app.request.getSegment(3) ).one() %}

<section>
    <div class="container header-sm mb-0">
        <div class="row my-5">
            <div class="col-12 text-center">
                <a class="navbar-brand" href="/">
                    <img src="/assets/images/logo.svg" alt="logo" width="200">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class="delay-2 fade-in">
                    <h1 class="text-gray-light bg-gray-dark d-inline px-3">{{ tag }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="in" style="display: none;">
    <canvas class="sonic" height="70" width="120"></canvas>
    <canvas class="sonic" height="70" width="120"></canvas>
</div>
<section id="grid" class="mb-5" style="display: none;">
    <div class="container-fluid postition-relative">
        <!-- listings -->
        <div id="container-one" class="row masonry row-cols-1 row-cols-md-2 row-cols-lg-4 m-auto mt-3 g-5">
            {% set entries = craft.entries.relatedTo(tag).all() %}
            {% for entry in entries %}
                <div class="col box masonry-brick">
                    <a href="{{ entry.url }}" class="card bg-dark text-white text-decoration-none h-100 shadow-lg ">
                    {% set image = entry.photo[0] ?? null %}
                    {% if image|length %}
                        {% if image.extension == 'svg' %}
                            {{ svg(image, sanitize=false, namespace=false)|attr({style: 'width: 100%'})|prepend('<title>' ~ image.title ~ '</title>', 'replace') }}
                        {% else %}
                            <picture>
                                {% set webpTransform = { format: 'webp', mode: 'fit', quality: 60 } %}
                                {% set jpgTransform = { format: 'jpg', mode: 'fit', quality: 60 } %}
                                <source type="image/webp" srcset="{{ image.getSrcSet([250, 400], webpTransform) }}">
                                <source type="image/jpeg" srcset="{{ image.getSrcSet([250, 400], jpgTransform) }}">
                                <img class="w-100 h-auto" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.title }}" loading="lazy">
                            </picture>
                        {% endif %}
                    {% else %}
                        <img src="/assets/images/placeholder-card-img.jpg" class="w-100 h-auto" width="400" height="auto" alt="placeholder">
                    {% endif %}
                    <div class="card-img-overlay text-center p-4 p-lg-5 roContent">
                        <h3 class="widont card-text">{{ entry.title }}</h3>
                        <p class="card-text text-gray-light">{{ entry.photoLocation }}</p>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div><!-- close listing row-->
    </div>
</section>

{% js "/assets/js/loader.js" %}

{% endblock %}


